# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
 order allow,deny
 deny from all
</Files>


<IfModule mod_autoindex.c>

HeaderName /_fiona/head.html
ReadmeName /_fiona/foot.html

IndexIgnore favicon.ico foot.html head.html robots.txt _fiona *.note fiona.config

IndexOptions +FancyIndexing
IndexOptions +FoldersFirst +VersionSort +DescriptionWidth=* +NameWidth=*
IndexOptions +SuppressHTMLPreamble -HTMLTable +XHTML +SuppressRules +SuppressLastModified
#IndexOptions IconsAreLinks

</IfModule>


# ===== ICONS ====================================================================

AddIconByType (IMG,/_fiona/icons/white/picture-o.svg) image/*
AddIconByType (SND,/_fiona/icons/white/microphone.svg) audio/*
AddIconByType (VID,/_fiona/icons/white/video-camera.svg) video/*
AddIconByType (TXT,/_fiona/icons/white/file-text.svg) text/*
AddIcon /_fiona/icons/white/file-archive-o.svg .Z .z .tgz .gz .zip .rar .ace .tar
AddIcon /_fiona/icons/white/code.svg .html .shtml .htm
AddIcon /_fiona/icons/white/file-pdf-o.svg .pdf .odt .ods .doc
AddIcon /_fiona/icons/white/file-text.svg .txt .js
AddIcon /_fiona/icons/white/arrow-right.svg ^^DIRECTORY^^
AddIcon /_fiona/icons/white/arrow-left.svg ..

DefaultIcon /_fiona/icons/white/file.svg

AddDescription "PDF Document" .pdf
AddDescription "Compressed Archive" .Z .z .tgz .gz .zip .rar .ace .tar
AddDescription "HTML Document" .html .shtml .htm
AddDescription "Plain/Text Document" .txt .js
AddDescription "Image" .jpg .jpeg .gif .tiff .tif .bmp .pict .tga .png
AddDescription "Video File" .mov .avi .asf .wma .divx .mpg .mpeg .mp4 .mkv
AddDescription "Audio File" .mp3 .wav .aiff .aif .mp2 .ogg
