; fiona config
; comment
; case-sensitive

[general]
;============================================================

; show the "Parent Directory"-Link
showParentLink = true

; show the searchfield
showSearch = true

; show the titlebar of each filexyz
showItemBar = true

; show file annontations
; created with a samefilename.jpg.note
showItemNotes = true

; collapseOthersOnDirectLink
collapseOthersOnDirectLink = true



;collapsed | expanded
default_state = expanded

;nonexpandable | expandable
default_ability = expandable


[exception_state]
;============================================================
000_head.md
++README.md
00_WS_Licht_bs_v01.key.pdf
7-eleven-rebranding-01-530x347.jpg
7-eleven-rebranding-02-530x347.jpg
7-eleven-rebranding-05-530x347.jpg
1atesttext.txt
+video.mp4
+video copy.mp4
+0004Breezeblocks.mp3
011101x.mp3
Claire_LittleBrother_Master_26042012.mp3
head v2.html
head_v1.html
head v3_expand.html
head_v4_onesettingfile.html
head v5_allonstart.html
hsa.css
index.css

[exception_ability]
;============================================================
head v5_allonstart.html
1atesttext.txt



